body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  position: static;
  margin-top: 5px;
}
a:hover {
  color: black;
  transition: color 0.2s ease-out;
}

.incomplete, .complete {
  font-size: 20px;
  text-decoration: none;
}
.incomplete:hover {
  color: red;
  transition: color 0.5s ease-out;
}
.complete:hover {
  color: green;
  transition: color 0.5s ease-out;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
th, td{
  width: 150px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

th {
  font-size: 20px;
}

td {
  text-transform: capitalize;
  background-color: ghostwhite;
}

.red {
  background-color: #fc7b79;
  font-weight: bold;
}

.green {
  background-color: lawngreen;
  font-weight: bold;
}
.add {
  color: black;
  border: 2px solid black;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
}